[git.emoji "Features"]
  icons = 💻 ✨
  alias = feat ft
[git.emoji "Bug Fixes"]
  icons = 🚧 🐛
  alias = fix fx
[git.emoji "SDKs/Libraries"]
  icons = 🛠️ 📦
  alias = sdk lib pkg tenets
[git.emoji "Breaking Changes"]
  icons = 🔥 💥
  alias = breaking br brk break
[git.emoji "Code Refactoring"]
  icons = ♻️
  alias = refactor rf ref rft
[git.emoji "Infrastructure"]
  icons = 🐳
  alias = infra if in inf
[git.emoji "Tests"]
  icons = 🚨 🧪
  alias = test ts tst
[git.emoji "Chores"]
  icons = 🧼 🧹
  alias = chore ch chr
[git.emoji "Reverts"]
  icons = ⏳ ⏪
  alias = revert rv rev rvt
[git.emoji "Releases"]
  icons = 🚀 🔖
  alias = release rl rel rls
[git.emoji "Others"]
  icons = 🔍
  alias = other ot oth
